.numbers {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin: 10px;
    position: relative;
    left: 30%;
}

div span {
    line-height: 100px;
}


.newNumberContainer {
    margin: 100px 0;
    text-align: center;
}

button {
    font-size: 30px;
}
